@charset "utf-8";

h1{
	text-align: center;
}

.container{
	margin: auto;
	width: 50%;
}

.container2{
	margin: auto;
	width: 50%;
	height: 60%;
}

.IMG {
	display:inline-block;
    margin:5px 20px;
    padding:5px;
	width: 26%;
	height: 26%;
}

#wrapper{
	margin: auto;
	border-color: black;
	border: 5px;
	background-color: blue;
}
