@charset "utf-8";

h1{
	text-align: center;
}

table{
	border: none;
}

td{
	text-align: center;
	border: none;
}
+
#wrapper{
	margin: auto;
	border-color: black;
}

html, body{
	height: 100%;
	align-content: center;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}
